* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "dj_grossnormal", Arial, Helvetica, sans-serif;
}

.board {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
}

.board > div {
  background-color: green;
  width: 32%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-game-setup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: yellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.pre-game-setup h1 {
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

form.name-form label {
  display: block;
  font-size: 2rem;
}

form.name-form input {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.start-game-btn {
  display: block;
  width: 100%;
}
