* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.board {
  display: flex;
  flex-wrap: wrap;
  min-height: 400px;
}

.board > div {
  background-color: green;
  width: 32%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
